version: "3.0"
services:
    filebeat:
      image: elastic/filebeat:7.13.0
      environment:
        - ELASTICSEARCH_HOST= {{ elastic_host }}
        - KIBANA_HOST={{ kibana_host }} 
      volumes:
        - /home/ubuntu/filebeat.yaml:/usr/share/filebeat/filebeat.yml
        - /var/log:/var/log
        - /home/ubuntu/filebeat:/usr/share/filebeat/data
      networks:
        - "elk-net"

networks:
      elk-net:

