version: "3.0"
services:
  filebeat:
    image: elastic/filebeat:7.13.0
    hostname: "{{ ansible_host }}-filebeat"
    # Need to override user so we can access the log files, and docker.sock
    user: ubuntu
    networks:
      - elastic
    configs:
      - source: fb_config
        target: /usr/share/filebeat/filebeat.yml
    volumes:
      - filebeat:/usr/share/filebeat/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/log/:/var/log/:ro
    environment:
      - ELASTICSEARCH_HOST= {{ elastic_host }}
      - KIBANA_HOST={{ kibana_host }} 
      - ELASTICSEARCH_USERNAME="elastic"
      - ELASTICSEARCH_PASSWORD="elastic"
    # disable strict permission checks
    command: ["--strict.perms=false"]
    deploy:
      mode: global

networks:
  elastic:
    driver: bridge

volumes:
  filebeat:

configs:
  fb_config:
    file: filebeat.yaml