# ============================== Filebeat Inputs ===============================

filebeat.inputs:
# Use the log input to read lines from log files
- type: log
  # Path of files
  paths:
  - /var/log/nginx/access.log
  - /var/log/nginx/error.log
# ================================= output =================================
output.elasticsearch:
  hosts: ["{{ elastic_host }}:9200"]