#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
- job_name: node_exporter
  scrape_interval: 15s
  static_configs:
  - targets:
      - {{web1_ip}}:9100
      - {{web2_ip}}:9100  
- job_name: nginxlog_exporter
  scrape_interval: 15s
  static_configs:
  - targets:
      - {{web1_ip}}:4040
      - {{web2_ip}}:4040  