version: '2.2'
services: 
  kibana:
    image: 'elastic/kibana:7.13.0'
    container_name: kibana
    environment:
      SERVER_NAME: kibana
#      ELASTICSEARCH_URL: {{ elastic_host }}
      ELASTICSEARCH_HOSTS: http://{{ elastic_host }}:9200
    ports:
      - '5601:5601'
    networks:
      - esnet

networks:
  esnet: